examples/thing-shadow-example.json
[{"type":"tab","id":"8856ff1d.77a9","label":"Temperature Control"},{"type":"tab","id":"2efc6ea6.d10392","label":"Door Monitoring"},{"type":"tab","id":"3dca51ff.c235ae","label":"Sensor Polling"},{"id":"d5b95002.2a46b","type":"mqtt-broker","broker":"127.0.0.1","port":"1883","clientid":""},{"id":"7c7d1f13.8382e","type":"modbustcp-controller","host":"127.0.0.1","port":"502"},{"id":"e6829bed.197d68","type":"coap-server","name":"Temp Server","port":"5683"},{"id":"99044211.66fbc","type":"function","name":"Transform","func":"return {payload:msg.payload.d.temp};","outputs":1,"noerr":0,"x":220,"y":214,"z":"8856ff1d.77a9","wires":[["aebd956.f514268"]]},{"id":"aebd956.f514268","type":"switch","name":"Process Temp","property":"payload","rules":[{"t":"lte","v":"40"},{"t":"gt","v":"40"}],"checkall":"true","outputs":2,"x":238,"y":106,"z":"8856ff1d.77a9","wires":[["b32ba433.4cd458"],["c679688e.398698"]]},{"id":"1d13a98a.e2ec56","type":"debug","name":"cpu status","active":true,"complete":"false","x":599,"y":79,"z":"8856ff1d.77a9","wires":[]},{"id":"b32ba433.4cd458","type":"template","name":"Is Safe","field":"","template":"Temperature ({{payload}}) within safe limits","x":408,"y":45,"z":"8856ff1d.77a9","wires":[["1d13a98a.e2ec56","40b7891a.bf4878"]]},{"id":"c679688e.398698","type":"template","name":"Is Danger","field":"","template":"Temperature ({{payload}}) critical","x":409,"y":168,"z":"8856ff1d.77a9","wires":[["1d13a98a.e2ec56","40b7891a.bf4878","f9854a3f.067ab8"]]},{"id":"8f481ede.70b7e","type":"inject","name":"Temp Input","topic":"temp","payload":"{ \"d\" : { \"temp\": 60 }}","payloadType":"string","repeat":"","crontab":"","once":false,"x":153,"y":412,"z":"8856ff1d.77a9","wires":[["778ac409.88753c"]]},{"id":"778ac409.88753c","type":"json","name":"JSON","x":227,"y":298,"z":"8856ff1d.77a9","wires":[["99044211.66fbc"]]},{"id":"40b7891a.bf4878","type":"mqtt out","name":"Temp Alert","topic":"temp/alert","qos":"1","retain":"true","broker":"d5b95002.2a46b","x":617,"y":199,"z":"8856ff1d.77a9","wires":[]},{"id":"f9854a3f.067ab8","type":"modbustcp-out","name":"Unlook The Door","dataType":"Coil","adr":"01","controller":"7c7d1f13.8382e","x":607,"y":316,"z":"8856ff1d.77a9","wires":[]},{"id":"a6f3312e.590cd","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":616,"y":320,"z":"2efc6ea6.d10392","wires":[]},{"id":"730f35c0.8cf0cc","type":"json","name":"JSON","x":305,"y":79,"z":"2efc6ea6.d10392","wires":[["ffb2f47.f004d08"]]},{"id":"b860277e.479fd8","type":"mqtt in","name":"Door State","topic":"door/#","broker":"d5b95002.2a46b","x":120,"y":137,"z":"2efc6ea6.d10392","wires":[["730f35c0.8cf0cc"]]},{"id":"98e73100.6718d","type":"elasticsearch","index":"node-red-index","name":"elasticsearch","documenttype":"door-state","host":"https://site:4f516ff8637b121da3dac85cb541f352@fili-us-east-1.searchly.com","port":"443","x":649,"y":142,"z":"2efc6ea6.d10392","wires":[]},{"id":"ffb2f47.f004d08","type":"function","name":"timestamp","func":"msg.payload.timestamp = new Date().toISOString();\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":210,"z":"2efc6ea6.d10392","wires":[["98e73100.6718d","a6f3312e.590cd"]]},{"id":"a9eb6fc3.56149","type":"http response","name":"","x":594,"y":413,"z":"8856ff1d.77a9","wires":[]},{"id":"495fa1a6.b6a06","type":"http in","name":"","url":"/temp","method":"get","swaggerDoc":"","x":254,"y":474,"z":"8856ff1d.77a9","wires":[["af91ec21.506e1"]]},{"id":"af91ec21.506e1","type":"function","name":"Data Processing","func":"msg.payload.temp = new Date().getTime()/100000000000;\nreturn msg;","outputs":1,"noerr":0,"x":404,"y":353,"z":"8856ff1d.77a9","wires":[["a9eb6fc3.56149"]]},{"id":"2a7dc4b8.d5823c","type":"coap in","method":"POST","name":"State","server":"e6829bed.197d68","url":"/state","x":190,"y":155,"z":"3dca51ff.c235ae","wires":[["34bc8091.cb438","482ac640.b7d538"]]},{"id":"d77181fd.288e8","type":"mqtt out","name":"","topic":"temp/state","qos":"1","retain":"false","broker":"d5b95002.2a46b","x":589,"y":190,"z":"3dca51ff.c235ae","wires":[]},{"id":"34bc8091.cb438","type":"function","name":"Data Processing","func":"msg.res.end(msg.req.payload);\nmsg.payload={ \"temp\": msg.req.payload };\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":289,"z":"3dca51ff.c235ae","wires":[["d77181fd.288e8"]]},{"id":"482ac640.b7d538","type":"debug","name":"","active":true,"console":"false","complete":"req.payload","x":493,"y":67,"z":"3dca51ff.c235ae","wires":[]}]