examples/thing-shadow-example.json
[
	{
		"id": "e409d93.f1bf628",
		"type": "aws-iot-device",
		"z": "d2a1d1.ff2d5e3",
		"name": "Shadow-002",
		"mode": "shadow",
		"clientId": "Device-002",
		"certsId": "4b3f24b626",
		"region": "ap-northeast-1"
	}, {
		"id": "7c63bc55.839c44",
		"type": "aws-iot-device",
		"z": "d2a1d1.ff2d5e3",
		"name": "Device-001",
		"mode": "broker",
		"clientId": "Device-001",
		"certsId": "47d4932ed6",
		"region": "ap-northeast-1"
	}, {
		"id": "e7133705.18ecc8",
		"type": "aws-mqtt in",
		"z": "d2a1d1.ff2d5e3",
		"device": "7c63bc55.839c44",
		"topic": "$aws/things/#",
		"x": 470,
		"y": 517,
		"wires": [["a929b185.56d65"]
		]
	}, {
		"id": "c41c2de6.3be3d",
		"type": "aws-thing in",
		"z": "d2a1d1.ff2d5e3",
		"device": "e409d93.f1bf628",
		"ignoreDeltas": true,
		"persistentSubscribe": true,
		"x": 372,
		"y": 133,
		"wires": [["f4113be9.0beec8"]
		]
	}, {
		"id": "43abb16e.bc545",
		"type": "aws-thing out",
		"z": "d2a1d1.ff2d5e3",
		"device": "e409d93.f1bf628",
		"method": "get",
		"x": 393,
		"y": 224,
		"wires": [["f4113be9.0beec8"],[]
		]
	}, {
		"id": "82571a82.7da8e8",
		"type": "inject",
		"z": "d2a1d1.ff2d5e3",
		"name": "",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 159,
		"y": 152,
		"wires": [["43abb16e.bc545"]
		]
	}, {
		"id": "f4113be9.0beec8",
		"type": "debug",
		"z": "d2a1d1.ff2d5e3",
		"name": "",
		"active": true,
		"console": "false",
		"complete": "false",
		"x": 579,
		"y": 91,
		"wires": []
	}, {
		"id": "a929b185.56d65",
		"type": "debug",
		"z": "d2a1d1.ff2d5e3",
		"name": "",
		"active": true,
		"console": "false",
		"complete": "false",
		"x": 663,
		"y": 364,
		"wires": []
	}, {
		"id": "507acd6e.af8534",
		"type": "aws-thing out",
		"z": "d2a1d1.ff2d5e3",
		"device": "e409d93.f1bf628",
		"method": "update",
		"x": 433,
		"y": 313,
		"wires": [["a929b185.56d65"],[]
		]
	}, {
		"id": "21423ba9.debdc4",
		"type": "inject",
		"z": "d2a1d1.ff2d5e3",
		"name": "",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 138,
		"y": 239,
		"wires": [["6c80fc33.937f04"]
		]
	}, {
		"id": "6c80fc33.937f04",
		"type": "function",
		"z": "d2a1d1.ff2d5e3",
		"name": "desired:RED",
		"func": "msg.payload = {\n    state: {\n        desired: {\n            color: \"RED\"\n        }\n    }\n}\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 141,
		"y": 331,
		"wires": [["507acd6e.af8534"]
		]
	}, {
		"id": "552de8fb.aad218",
		"type": "inject",
		"z": "d2a1d1.ff2d5e3",
		"name": "",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 141,
		"y": 404,
		"wires": [["21394f2e.dec6b"]
		]
	}, {
		"id": "21394f2e.dec6b",
		"type": "function",
		"z": "d2a1d1.ff2d5e3",
		"name": "reported:RED",
		"func": "msg.payload = {\n    state: {\n        reported: {\n            color: \"RED\"\n        }\n    }\n}\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 144,
		"y": 496,
		"wires": [["507acd6e.af8534"]
		]
	}, {
		"id": "f3eddd4b.0c122",
		"type": "inject",
		"z": "d2a1d1.ff2d5e3",
		"name": "",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 136,
		"y": 570,
		"wires": [["a6f9206d.5906e"]
		]
	}, {
		"id": "a6f9206d.5906e",
		"type": "function",
		"z": "d2a1d1.ff2d5e3",
		"name": "reported:GREEN",
		"func": "msg.payload = {\n    state: {\n        reported: {\n            color: \"GREEN\"\n        }\n    }\n}\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 139,
		"y": 662,
		"wires": [["507acd6e.af8534"]
		]
	}
]